body { margin:0; font-family:Arial }

.right { float: right; }
.left { float: left; }
.hidden { display: none; }

.fa-1x { font-size: larger; color: #ff8a65 }
.fa-2x { font-size: xx-large; color: #ff8a65 }
.fa-3x { font-size: 45px; color: #ff8a65 }

.topnav {
    overflow: hidden;
    background-color: #37474f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-logo {
    float: left;
    width: 250px;
    height: 53px;
}

.nav-logo :hover {
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
}

.nav-logo > img {
    display: block;
    margin: 0;
    padding: 0;
}

.img-responsive  {
	max-width: 100%;
	height: auto
}

.topnav a {
    float: left;
    display: block;
    color: #f5f5f5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: #ff5722;
    color: #f5f5f5;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: #f5f5f5;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #607d8b;
    min-width: 127px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    transition: ease-in 0.25s;
}

.dropdown-content span {
    background-color: #eee;
    color: #424242;
    padding: 2px 5px;
    font-size: x-small;
    font-weight: 300;
}

.dropdown-content a {
    float: none;
    color: #f5f5f5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a i {
    width: 10px;
    padding: 0;
    margin-right: 20px;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #ff7043;
    color: #f5f5f5;
}

.dropdown-content a:hover {
    background-color: #ffccbc;
    color: #3f3f3f;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 768px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        cursor: pointer;
        height: 53px;
    }
    .nav-logo {
        margin-left: -15px;
        width: 200px;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 15px;
        top: 0;
        cursor: pointer;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

.footer {
	background:#37474f;
	padding: 10px 0;
    color:#f5f5f5;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footer-text {
    font-weight: 300;
    margin: 5px auto;
    text-align: center;
    line-height: 30px;
}

.social {
    margin-top: 5px;
}

.footer-menu .row a {
    margin: auto;
    color: #ff7043;
    cursor: pointer;
}

.footer-menu a :hover {
    color: #ffab91;
}

.footer-menu ul li {
	display: inline-block;
}

.footer-menu ul li a {
	font-size: 14px;
	font-weight: normal;
	color:#f5f5f5;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.social ul li {
	display: inline-block;
	padding-left: 5px;
}

.social ul li a i {
	text-align: center;
	color:#ff7043;
	font-size: 45px;
}

.social ul li a :hover {
	color:#ffab91;
}

.footer-menu .pull-right {
  margin-top: 7px;
}